/* Reset */
body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  line-height: 1.6;
  background-color: #fff8f8;
  color: #333;
  text-align: center;
  
}

/* Header */
header {
  background-color: #b30000;
  color: white;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 28px;
  text-transform: uppercase;
}

header h2 {
  margin: 10px 0 0;
  font-size: 18px;
}

/* Sections */
section {
  padding: 15px;
  margin: 10px auto;
  max-width: 600px;
  background: #f9f9f9;
  border-left: 5px solid #b30000;
  border-radius: 5px;
}

/* Register Button */
.register-btn {
  display: inline-block;
  padding: 12px 25px;
  background: #ff3333;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.register-btn:hover {
  background: #cc0000;
}

/* Footer */
footer {
  background: #222;
  color: white;
  padding: 10px;
  margin-top: 20px;
}

